body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:4621px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:501px;
  width:1920px;
  height:4621px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1920px;
  height:437px;
  display:flex;
  transition:none;
}
#u247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:437px;
}
#u247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  background:inherit;
  background-color:rgba(77, 88, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:10px;
  width:157px;
  height:44px;
  display:flex;
  transition:none;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(77, 88, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:17px;
  width:87px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(77, 88, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:17px;
  width:87px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(77, 88, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:17px;
  width:87px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(77, 88, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:17px;
  width:87px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(77, 88, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:17px;
  width:87px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:341px;
  background:inherit;
  background-color:rgba(70, 200, 188, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:101px;
  width:749px;
  height:341px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(77, 88, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:17px;
  width:87px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(77, 88, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:17px;
  width:87px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:366px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:135px;
  width:875px;
  height:366px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u258 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:539px;
  width:192px;
  height:55px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:604px;
  width:200px;
  height:1px;
  display:flex;
  transition:none;
  font-size:48px;
  color:#000000;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5122px;
  width:1920px;
  height:411px;
  display:flex;
  transition:none;
  font-size:12px;
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:411px;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:79px;
  background:inherit;
  background-color:rgba(236, 239, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:5230px;
  width:462px;
  height:79px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:131px;
  background:inherit;
  background-color:rgba(236, 239, 254, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:0.2px;
  line-height:23px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:5309px;
  width:488px;
  height:131px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:0.2px;
  line-height:23px;
}
#u266 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:62px;
  background:inherit;
  background-color:rgba(17, 17, 17, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  letter-spacing:0.2px;
  line-height:23px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:5150px;
  width:377px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  letter-spacing:0.2px;
  line-height:23px;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:5229px;
  width:133px;
  height:30px;
  display:flex;
  transition:none;
}
#u268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:5229px;
  width:115px;
  height:27px;
  display:flex;
  transition:none;
}
#u269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:5270px;
  width:101px;
  height:25px;
  display:flex;
  transition:none;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:5268px;
  width:107px;
  height:29px;
  display:flex;
  transition:none;
}
#u271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:135px;
  background:inherit;
  background-color:rgba(17, 17, 17, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  letter-spacing:0.2px;
  line-height:23px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:5312px;
  width:377px;
  height:135px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  letter-spacing:0.2px;
  line-height:23px;
}
#u272 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:62px;
  background:inherit;
  background-color:rgba(17, 17, 17, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  letter-spacing:0.2px;
  line-height:23px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:5452px;
  width:382px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  letter-spacing:0.2px;
  line-height:23px;
}
#u273 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:5150px;
  width:296px;
  height:80px;
  display:flex;
  transition:none;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:80px;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:645px;
  width:1370px;
  height:116px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u275 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:849px;
  width:1370px;
  height:766px;
  display:flex;
  transition:none;
}
#u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:766px;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:1880px;
  width:1400px;
  height:109px;
  display:flex;
  transition:none;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:109px;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1717px;
  width:192px;
  height:55px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:1782px;
  width:200px;
  height:1px;
  display:flex;
  transition:none;
  font-size:48px;
  color:#000000;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:1809px;
  width:432px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:2079px;
  width:1400px;
  height:581px;
  display:flex;
  transition:none;
}
#u282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:581px;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:4431px;
  width:192px;
  height:55px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:4496px;
  width:200px;
  height:1px;
  display:flex;
  transition:none;
  font-size:48px;
  color:#000000;
}
#u285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:4541px;
  width:1193px;
  height:308px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:36px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:4596px;
  width:843px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:36px;
}
#u288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:36px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:4675px;
  width:917px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:36px;
}
#u289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:36px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:4751px;
  width:917px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:36px;
}
#u290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:64px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:4932px;
  width:220px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:64px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:4932px;
  width:220px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
